
html{ font-family: 'Syne Mono', monospace;;
}

h1 {
font-size: 2em;
    font-style: bold;
    letter-spacing: 3em;
    color: #000000;
    width: 40;
    color: #6f00ff;
}
h2 {
    font-size: 1em;
        font-style: 900px;
        color: #000000;;
    }

    h3 {
        font-size: 1em;
            font-style: bold;
            color: #6f00ff;
            line-height: 30px;
        }
em {
    color: black;
    font-size: 1em;
    bottom: 500px;
}

strong {
    font-weight: bold;
    font-size: 2em;
}


p {
    font-size: 1.5em;
}