
html{ font-family: 'Lora', serif;
}

h1 {
font-size: 1.5em;
font-style: 200pt;
    color: #000000;
    float: left;
    font-weight: 900;
}
h2 {
    font-size: 1em;
        font-style: 200pt;
        color:  #000000;
        font-weight: 100;
        float: right;
        height: 50px;
    }
    h3 {
        font-size: 1em;
            font-style: 200pt;
            color: #075b70;
            font-weight: 600;
            float: left;
            height: 50px;
        }

        h4 {
            font-size: 1em;
                font-style: 200pt;
                color: #ff8800;
                font-weight: 600;
                float: right;
                height: 50px;
            }
    
