
body{ float: right;
    padding:90px;
    color:white;
    width: 500px;
}

h1 {
    color: #6b0b3e;
}


h2{color: #6b0b3e;


}
em { color: #eb4a38;
}

strong {
    color: #eb4a38;
}

div{margin: 20px;

}