
body{ float: left;
    padding:70px;
    width: 500px;
}

h1 {
    color: #3283a8;
    padding: 30px;
    display: contents;
}


h2{color: #000000;   
    padding: 30px;

}

h3{color: #000000;
    padding: 30px; 
 
}

h4{color: #000000;
    padding: 30px;
  
}

h5{color: #000000;
    padding: 30px;
    
}

h6{color: #000000;
    padding: 30px;
  
}

strong {
    color: #000000;
    padding: 30px;
    width: 80px;
}

div{padding: 40px;
}